@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
<div class="text-center">
    @Html.ActionLink("Car Details", "ViewAllCars", "Car", new { /* id=item.PrimaryKey */ })
</div>
